.personal-info {
    display: flex;
    flex-direction: column;
    width: 28.125rem;
    padding-top: 1.75rem;
    gap: 0.875rem;
}

.your-info-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.step-title {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.personal-info h2 {
    color: #02295a;
    font-size: 1.75rem;
    font-weight: 700;
}

.personal-info p {
    color: #9699ab;
    font-size: 1rem;
    font-weight: 400;
}

.personal-info label {
    color: #02295a;
}

.input {
    border: 1px solid #d6d9e6;
    padding: 1rem;
    width: 450px;
    border-radius: 10px;
    color: #02295a;
    font-weight: 500;
}

.input-error {
    border: 1px solid #ed3548;
    padding: 1rem;
    width: 450px;
    border-radius: 10px;
    color: #02295a;
    font-weight: 500;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-input-info {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}

.input-error-msg {
    color: #ed3548;
    font-weight: 500;
}


.your-info-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 6.25rem 1.5rem 0;
}

@media screen and (max-width: 885px) {
    .personal-info {
        z-index: 1;
        padding: 0;
        position: absolute;
        top: 17.5%;
        background-color: #ffffff;
        width: 90%;
        border-radius: 10px;
        padding: 2rem 1.25rem;
        gap: 0.875rem;
    }

    .personal-info input, .user-input-info {
        width: 100%;
    }

    .personal-info input {
        padding: 0.75rem;
    }

    .your-info-btns {
        position: fixed;
        width: 100%;
        padding: 1rem;
        background-color: #ffffff;
    }
}