.select-plan {
    display: flex;
    flex-direction: column;
    width: 28.125rem;
    padding-top: 1.75rem;
    gap: 2.5rem;
}

.step-title {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.step-title h2 {
    color: #02295a;
    font-size: 1.75rem;
    font-weight: 700;
}

.step-title p {
    color: #9699ab;
    font-size: 1rem;
    font-weight: 400;
}

.plan-cards {
    display: flex;
    gap: 1rem;
}

.plan-option {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border: 1px solid #9699ab;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    width: 150px;
    transition: border-color 0.25s ease;
    cursor: pointer;
}

.plan-option:hover,.selected {
    border-color: #473dff;
}

.selected {
    background-color: #f8f9fe;
}

.plan-level {
    color: #02295a;
    font-weight: 500;
    font-size: 1.125rem;
}

.plan-price {
    color: #9699ab;
}

.plan-discount {
    color: #02295a;
    font-size: 0.875rem;
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.step-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 6.25rem 1.5rem 0;
}

@media screen and (max-width: 885px) {
    .select-plan {
        z-index: 1;
        padding: 0;
        position: absolute;
        top: 13%;
        background-color: #ffffff;
        width: 90%;
        border-radius: 10px;
        padding: 2rem 1.25rem;
        gap: 1.5rem;
    }

    .step-title {
        gap: 0.75rem;
    }

    .select-plan input {
        width: 100%;
    }

    .select-plan input {
        padding: 0.75rem;
    }
    
    .plan-cards {
        flex-direction: column;
    }

    .plan-option {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0.75rem;
        gap: 0.75rem;
    }

    .step-btns {
        position: fixed;
        width: 100%;
        padding: 1rem;
        background-color: #ffffff;
    }
}