main {
    display: flex;
    gap: 6.25rem;
}

.step-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.steps-btns {
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    main {
        display: block;
        align-items: center;
        flex-direction: column;
    }

    .steps-btns {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        align-items: center;
        padding: 1rem;
    }
}