.next-btn {
    background-color: #02295a;
    color: #f0f5ff;
    transition: background-color 0.25s ease;
}
    
.next-btn:hover {
    background-color: rgba(2, 41, 90, 0.75);
}

.next-btn, .back-btn, .confirm-btn {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 125px;
}

.back-btn {
    color: #9699ab;
    font-weight: 500;
    transition: color 0.25s ease;
}

.back-btn:hover {
    color: #02295a;
}

.confirm-btn {
    background-color: #473dff;
    color: #f0f5ff;
    transition: background-color 0.25s ease;
}

.confirm-btn:hover {
    background-color: rgba(71, 61, 255, 0.5);
}

@media screen and (max-width: 885px) {
    .next-btn, .back-btn, .confirm-btn {
        padding: 1rem;
        border-radius: 6px;
        width: 105px;
    }
}